<html>
<body>
<form action="/send/" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td><input type="number" name="idno" placeholder="Enter Id Number" required></td>
        </tr>
        <tr>
            <td><input type="text" name="name" placeholder="Enter Name" required></td>
        </tr>
        <tr>
            <td><input type="number" name="salary" placeholder="Enter Salary" required></td>
        </tr>
        <tr>
            <td><button type="submit">Send</button></td>
        </tr>
    </table>
</form>
</body>
</html>